/* Elements */
input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

/* Classes */

.titulo {
    clear: both;
    text-align: center;
    font-weight: bold;
    color:#F49E4C;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.error-message {
    visibility: hidden; 
}


/* High contrast*/
.high-contrast {
    background-color: #000;
    color: #fff;
}

.high-contrast input, .high-contrast label {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
}

.high-contrast button, button:hover {
    background-color: yellow; 
    color: black; 
    border: 2px solid #fff; 
}

.high-contrast button:hover {
    background-color: yellow; 
    color: black; 
    border: 2px solid #fff;    
}